.team-img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px; /* future proofing */
    -khtml-border-radius: 100px; /* for old Konqueror browsers */

    width: 200px;
    height: 200px;
}

.grid-container {
    width : 100%;
    max-width : 550px;
    margin: auto;

}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
}

.col-1-4{
    width: 33.00%;
}

@media all and (max-width:750px){
    .col-1-4{ width: 100%; }

}

h1, h2, .center {
    text-align: center;
}
